<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style.css" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/8711994a0f.js" crossorigin="anonymous"></script>
	<script src="script.js" defer></script>
	<title>J.P.Capsanis & Co Lawyers</title>
</head>

<body>
	<div class="top-bar" id="home">
		<div class="email">
			<i class="fas fa-envelope"></i>
			<a href="mailto:jpcpractice@gmail.com">jpcpractice@gmail.com</a>
		</div>

		<div class="phone">
			<i class="fas fa-phone-alt"></i>
			<a href="tel:+61406669636">0406 669 636</a>
		</div>
	</div>
	<header class="header">
		<img class="logo" src="images/logo-blue.png" alt="logo" />
		<nav class="nav">
			<i class="fas fa-bars hamburger" id="hamburger"></i>
			<ul>
				<li><a href="#home">HOME</a></li>
				<li><a href="#about">ABOUT US</a></li>
				<li><a href="#services">SERVICES</a></li>
				<li><a href="#contact">CONTACT US</a></li>
			</ul>
			<ol>
				<li><a href="#home">HOME</a></li>
				<li><a href="#about">ABOUT US</a></li>
				<li><a href="#services">SERVICES</a></li>
				<li><a href="#contact">CONTACT US</a></li>
			</ol>
		</nav>
	</header>

	<main class="slideshow">
		<div class="slide fade">
			<img class="slide-img" src="images/banner1.png" alt="bannerimages" />
			<div class="slide-text">
				<h2>Supreme Court</h2>
				<p>
					Representation in all Courts and Tribunals including Supreme Court
				</p>
			</div>
		</div>
		<div class="slide fade">
			<img class="slide-img" src="images/banner2.png" alt="bannerimages" />
			<div class="slide-text">

				<h2>Won the 2017 Justice Medal</h2>
				<p>
					John provides free legal assistance to child abuse victims
				</p>
			</div>
		</div>
		<div class="slide fade">
			<img class="slide-img" src="images/banner3.png" alt="bannerimages" />
			<div class="slide-text">
				<h2>Law and justice foundation winners</h2>
				<p>
					John Capsanis, pictured, won the Law Society of NSW President’s Medal at the Law and Justice
					Foundation
				</p>

			</div>
		</div>
		<a class="slide-btn" href="#about">MORE ABOUT US</a>

	</main>

	<div class="dots-panel">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>

	<div class="about-counter-combined">
		<section class="about" id="about">
			<div class="flex-header">
				<header class="about-header">
					<h3>WELCOME TO</h3>
					<h1 class="name">John Capsanis Solicitor</h1>
				</header>
				<aside>
					<img src="images/lawyerimg.png" alt="john capsanis portrait" />
				</aside>
			</div>

			<article>
				<h5>Protect your rights</h5>
				<ul class="achievements">
					<li class="check">
						Principal Solicitor of Law Practice J.P.Capsanis & Co Lawyers
					</li>
					<li class="check">Unrestricted practising certificate</li>
					<li class="check">LL.B (Syd.Uni.)</li>
					<li class="check">
						Diploma of Labour Ralations and the Law (Syd.Uni.)
					</li>
					<li class="check">Diploma of Counselling (Estrada)</li>
					<li class="check">Public Notary (Supreme Court of NSW)</li>
					<li class="check">Member of the Law Society of NSW</li>
					<li class="check">
						2017 Recipient of Law Society President's Award - Law and justice
						Foundation of NSW Justice Awards
					</li>
				</ul>
			</article>
		</section>

		<!-- <section class="counter">
			<div class="flex-container">
				<article class="flex-item">
					<i class="fas fa-users"></i>
					<h6>999</h6>
					<p>Trusted Clients</p>
				</article>
				<article class="flex-item">
					<i class="fas fa-check-double"></i>
					<h6>1512</h6>
					<p>Success Cases</p>
				</article>
				<article class="flex-item">
					<i class="fas fa-laptop"></i>
					<h6>1756</h6>
					<p>Case Studies</p>
				</article>
				<article class="flex-item">
					<i class="fas fa-trophy"></i>
					<h6>101</h6>
					<p>Awards</p>
				</article>
			</div>
		</section> -->
	</div>


	<section class="services" id="services">
		<header>
			<h3>SERVICES</h3>
			<h4>Practice Areas</h4>
			<h5>We offer our services in various practice areas, including</h5>
		</header>
		<article>
			<ul class="grid-container">
				<li class="grid-item">
					<i class="fas fa-gavel"></i>Advocacy in courts and tribunals
				</li>
				<li class="grid-item">
					<i class="fas fa-gavel"></i>Representation in all Courts and Tribunals including Supreme Court
				</li>
				<li class="grid-item">
					<i class="far fa-handshake"></i>
					Civil claims dispute resolution, negotiation, and litigation
				</li>
				<li class="grid-item">
					<i class="fas fa-balance-scale"></i>Elder Law and elder abuse
				</li>
				<li class="grid-item">
					<i class="fas fa-money-check-alt"></i>Business purchase and sale
				</li>
				<li class="grid-item">
					<i class="fa fa-building"></i>
					Property including residential, commercial and personal
				</li>
				
				<li class="grid-item">
					<i class="fas fa-book"></i>Administrative law
				</li>
				<li class="grid-item">
					<i class="fas fa-people-carry"></i>Employment, industrial law and
					relations
				</li>
				<li class="grid-item">
					<i class="fas fa-scroll"></i>Wills, probate, estate administration
					and family provisions claims
				</li>
				<li class="grid-item">
					<i class="fas fa-user-tie"></i>General and specialist advice
				</li>
				<li class="grid-item">
					<i class="fas fa-people-arrows"></i>Referrals
				</li>
				
				<li class="grid-item">
					<i class="fas fa-users"></i>Also Public Notary Services
				</li>
			</ul>
		</article>
	</section>

	<section class="contact" id="contact">
		<div class="overlay">
			<header>
				<h3>GET IN TOUCH</h3>
				<h4>Contact Us</h4>
			</header>
			<article class="flex-container-contact">
				<ul class="contact-list">

					<li>
						<i class="fas fa-mobile-alt contact-ico"></i>
						<a class="info" href="tel:+61406669636">0406 669 636</a>

					</li>

					<li>
						<i class="fas fa-envelope contact-ico"></i>
						<a class="info" href="mailto:jpcpractice@gmail.com">jpcpractice@gmail.com</a>
					</li>

					<li>
						<i class="fas fa-clock contact-ico"></i>
						<p class="info">
							By appointment, Mon-Fri 09.30am - 05.30pm and out of hours.
						</p>
					</li>

					<li>
						<i class="fas fa-map-marker-alt contact-ico"></i>
						<p class="info">
							Suite 406, Level 4, 661 George Street, Haymarket, NSW, 2000
							P.O.Box K10600, Haymarket, NSW, 1240
						</p>
					</li>
				</ul>

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.4066628791325!2d151.20291311568792!3d-33.87917908065346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae2342b34291%3A0xb924eab82dc4892d!2sSuite%20406%2C%20Level%204%2F661%20George%20St%2C%20Haymarket%20NSW%202000!5e0!3m2!1sen!2sau!4v1622910177043!5m2!1sen!2sau"
					width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
			</article>
		</div>
	</section>

	<footer>
		<p>Copyright 2020 © jcapsanislawyer.</p>
	</footer>
</body>

</html>
